.login_section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.login_header{
    font-size: 1.75rem;
}
.login_img{
    width: 80vw;
    max-height: 80vh;
}
.btn{
    margin-bottom: 5em;
}
@media screen and (max-width: 420px) {
    
    .login_header{
        font-size: 1.25rem;
        text-align: center
    }
    .btn{
        font-size: 0.75em;
    }
}
